$black: #242424;
$white: #ffffff;
$base: #FAFAFA;
$gray: #F1F1F1;
$blue: #64B5F6;

body{
    margin: 0px;
    color: $black;
    background-color: $base;
    font-size: 14px;
    line-height: 1.42857;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input[type=text],input[type=button]{
    color: $black;
    padding: 0;
    margin: 0;
    background-color: $base;
    border: none;
}