.timer_btns{
    position: relative;
    display: flex;
    width: 100%;
    transform: translateY(-50%);
    text-align: right;
    &__btn[type=button]{
        width: 100%;
        padding: 4px 8px;
        margin: 8px;
        border: 2px solid $blue;
        border-radius: 5px;
        font-size: 1.3em;
        &:hover{
            cursor: pointer;
            background-color: $blue;
            color: $white;
            transition: 0.3s;
        }
    }
}